<div class="container">
    <div class="centered-container">
      <input [(ngModel)]="url" (keyup.enter)="generate()" placeholder="Enter URL">
    <div> <button class="generate-button" (click)="generate()">Generate</button></div> 
    </div>
  </div>
  
  <div class="qr-code-container">
    <canvas #qrCode></canvas>
  </div>
  <div class="centered-container">
  <a [hidden]="!show" [href]="imageurl" download="QRcode.png" class="download-button">
    <button (click)="download()">Download</button>
  </a>
</div>