// .qr-code-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 20px;
//   }
  
//   input{
//     position: relative;
//     justify-content: center;  /* Align in the center */
//     align-items: center;       /* Set vertical alignment */
//     border: 2px solid rgb(166, 230, 88);
//     background: rgb(206, 214, 206);
//     padding: 20px;
//     align-items: center;
//   }
//   /* Reset default button styles */
// button {
//     position: relative;
//     appearance: none;
//     border: none;
//     background-color: transparent;
//     padding: 10px 20px;
//     cursor: pointer;
//     font-size: 16px;
//     font-weight: bold;
//     color: #fff;
//     border-radius: 5px;
//     transition: background-color 0.2s, color 0.2s;
//     justify-content: center; /* Center horizontally */
//     align-items: center; /* Center vertically */  }
    
//   /* Style for the "Generate" button */
//   .generate-button {
//     background-color: #007bff;
//   }
  
//   /* Hover styles */
//   .generate-button:hover {
//     background-color: #0056b3;
//   }
//   h1 {
//     display: flex;
//     justify-content: center; /* Center horizontally */
//     align-items: center; /* Center vertically */
//     height: 300px; /* Set a height for the container (just an example) */
//     font-size: large;
//     color: rgb(109, 143, 61);
//   }
//  .container{
//     position: relative;
//     align-items: center;
//     left: 600px;
//  }
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    padding-top: 100px;
    text-align: center; /* Center the contents inside the container */
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  input {
    /* Your input styles here */
    padding: 10px;
    width:250px;
    border: 2px solid rgb(166, 230, 88);
    background: rgb(206, 214, 206);
    margin-right: 10px;
  }
  
  button {
    /* Your button styles here */
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  /* Style for the "Generate" button */
  .generate-button {
    background-color: #007bff;
  }
  
  /* Hover styles */
  .generate-button:hover {
    background-color: #0056b3;
  }
  
  .qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  h1 {
    font-size: large;
    color: rgb(109, 143, 61);
  }
  